# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Models
models/checkpoints/
models/*.pth
models/*.pt
models/*.onnx

# Dataset
processed/
database/*.db

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

datasets/